.banner {
	margin-top: -91px;
	background: {
		//image: url('../img/banner.png');
		//repeat: no-repeat;
		size: 100% 100%;
		//color: rgb(55,55,55);
	}
	/*img {
		width: 40%;
		height: auto;
	}
	h1 {
		width: 50%;
	}*/
}


.about {
	//margin: 7rem 0;
	margin-top: 3rem;
	margin-bottom: 10rem;
}
.logo-red-ball {
	width: 15px;
	height: 15px;
	background-color: $accent-color;
	border-radius: 50%;
	//box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

hr {
	border: 0;
	border-top: 1px solid $divider-color;
    width: 100px;
}

.info-text {
	width: 80%;
	font-size: 1.8em;
	line-height: 1.4;
	color: $primary-text-color;
}

@media screen and (max-width: 420px) {
	.about {
		width: 95%;
	}
	.banner {
		margin-top: 0;
	}
}