main {
	margin-bottom: 371px;
	background-color: #fff;
	box-shadow: 0 0 5px 8px rgba(0, 0, 0, .3);
}

.banner {
	height: calc(100vh - 91px);
	//padding-top: 21vh;

	h1 {
		font-size: 5em;
		margin-left: 6rem;
		margin-top: -2rem;
		width: 70%;
		line-height: 1.2;
	}
}

.banner-team {
	width: 100%;
}
.about {
	//margin: 7rem 0;
	margin-top: 3rem;
	margin-bottom: 10rem;
}
.logo-red-ball {
	width: 15px;
	height: 15px;
	background-color: $accent-color;
	border-radius: 50%;
	//box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

hr {
	border: 0;
	border-top: 1px solid $divider-color;
    width: 100px;
}

.info-text {
	width: 80%;
	font-size: 1.8em;
	line-height: 1.4;
	color: $primary-text-color;
}

@media screen and (max-width: 420px) {
	.about {
		width: 95%;
	}
	.banner {
		//padding-top: 80px;
		height: 85vh;
		h1 {
			font-size: 3.6em;
			margin-left: 10px;
			width: 95%;
			line-height: 1.1;
		}
	}
}