.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.hidden {
	display: none;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}




.banner {
	margin-top: -91px;
	background: {
		//image: url('../img/mall.png');
		repeat: repeat;

	}
	img {
		width: 40%;
		height: auto;
	}
	h1 {
		width: 50%;
	}
}


.about {
	margin: 7rem 0;
}
.logo-red-ball {
	width: 15px;
	height: 15px;
	background-color: $accent-color;
	border-radius: 50%;
	//box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

hr {
	border: 0;
	border-top: 1px solid $divider-color;
    width: 100px;
}

.info-text {
	width: 80%;
	font-size: 1.8em;
	line-height: 1.4;
	color: $primary-text-color;
}