.footer {
	background-color: rgb(50,50,50);
	position: relative;
	height: calc(70vh + 18px);
	display: flex;
}
.map-toggler_open, .map-toggler_close {
	position: absolute;
	top: 0;
	right: 0;
	background-color: $accent-color;
	padding: 7px;
	z-index: 1;
}
.map-container {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	width: 100%;
	height: 70vh;
}
.footer-container {
	position: relative;
    height: 70vh;
    width: 100%;
    background-color: rgba(50,50,50,.9);
	color: #fff;
}
.footer-content {
	@extend %full-width;
	@extend %display-flex;
	@extend %flex-between;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5rem 0;
	div {
		@extend %display-flex;
		@extend %flex-center;
		width: 25%;
	}
	
}

.logo-icon img {
	width: 130px;
}
.footer-nav {
	flex-direction: column;
}
.contact-info {
	flex-direction: column;
}

.contact-info span {
	width: 90%;
	text-align: left;
	margin: 5px 0;
	font-size: 1.2em;
}

.social-icon {
	margin: 0 5px;
	.fa { color: #fff;}
}

.trademark {
	color: #fff;
	//position: relative;
	//margin-top: 70vh;
}

@media screen and (max-width: 420px) {
	.footer-container {
		height: auto;
	}
	.footer-content {
		flex-direction: column;
		flex-wrap: nowrap;
	}
}