/***************************************\
                Header
\***************************************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;//#fafafa;
    transition: .6s ease all;
    //box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);//0 0 5px 8px rgba(0, 0, 0, .3);
    #{&}-container {
        width: 80%;
        padding-top: 15px;
        @extend %flex;
        @extend %flex-between;
    }

    @extend %flex;
    @extend %flex-center_horizontal;
}
.shadow {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3); 
}
.logo {
    width: 170px;
}
.bgt {
  background-color: transparent;
  box-shadow: none;
  a.link{
    color: #fff;  
  }
  a.link:hover {
    color: rgba(250, 250, 250, .8); 
  }  
}
.logo-white {
  content: url('../img/iconBR.png');
}
.logo-mobile_white {
  content: url('../img/logoRB.png');
}
.navbar {
   @extend %flex;
   @extend %flex-center_vertical;
}

a.active {
    color: #333;
}

.link, .fa-globe {
    margin: 0 15px;
    font-size: 14px;
}

.link:hover {
    color: #333;
}

.link:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: #333;
    margin: 0 auto;
    margin-top: 3px;
    border-bottom: 1px solid #333;
    transition: .5s ease all;
}

.link:hover:after {
    width: 100%;
    /*width: 5px;
    height: 5px;
    background-color: $accent-color;
    border-radius: 50%;*/
}

.active:after {
    display: block;
    width: 5px;
    height: 5px;
    background-color: $accent-color;
    border-radius: 50%;    
    border-bottom: 0;
}
.active:hover:after {
    width: 5px;
} 
//START MOBILE
.logo-mobile {
    display: none;
    width: 50px;
    z-index: 99;
}
.menu-wrapper {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: none;
  transition: .4s ease all;
  @extend %flex-center; 
}
.menu-wrapper_white {
  border-color: $white;
}
.wrapper_white{ 
  border-color: $white; 
}
.hamburger:before,.hamburger:after {
  content: "";
  position: relative;
  left: 0;
}
.hamburger, .hamburger:before,.hamburger:after {
  display: block;
  width: 30px;
  height: 0;
  border-top: 1px solid black;
  transition: .4s ease all;
}
.hamburger_white, .hamburger_white:before,.hamburger_white:after {
  border-top: 1px solid $white;
}
.hamburger:before {
  bottom: -8px;
}
.hamburger:after {
  top: -10px;
}
.togle {
  border-top-color: transparent;
}
.togle:before {
  bottom: 0;
  transform: rotate(50deg);
  border-top-color: $white;
}
.togle:after {
  top: 0;
  transform: rotate(-50deg);
  border-top-color: $white;
}
//END MOBILE
/*.link:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top: 3px;
    border-bottom: 2px solid #333;
    transition: .5s ease all;
}
.link:hover:after{
    width: 100%;
}

.active:after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    margin-top: 3px;
    border-bottom: 2px solid #333;
}*/
/*.active:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: $accent-color;
    border-radius: 50%;
}*/
@media screen and (max-width: 420px) {
    .header .header-container {
        width: 90%;
        //padding-top: 0;
        align-items: center;
    }

    .logo {
        display: none;
    }
    .menu-wrapper, .logo-link {
      z-index: 99;
    }
    .logo-mobile {
        display: block;
    }
    .menu-wrapper {
        display: flex;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 100vw;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(88,99,141,.9);
        z-index: 98;
        transition: .5s ease all;
        .link {
          color: $white-gray;
          font-size: 1.5em;
          margin: .5rem;        }
    }

    .navbar-mobile {
        left: 0;
    }
}