.modal-container {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100vh;
	background-color: #fafafa;
	/*opacity: .5;*/
}
.modal-flex-wrapper {
	@extend %display-flex;
    width: 100%;
    height: 100%;
}
.moda-contento {
	width: 850px;
	height: 650px;
	overflow: hidden;
	@extend %flex; 
	//margin: 0 auto;
	//margin-top: 10rem;
	background-color: #fff;
	border-radius: 7px;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.work-img, .work-detail {
	width: 50%;
	height: 100%
}
.work-img {
	background-image: url('../img/work.jpg');
}

.modal-close {
	position: absolute;
	top: 20px;
	right: 25px;
	cursor: pointer;
	//font-size: 2em;
}

@media screen and (max-width: 420px) {
	.moda-contento {
		flex-flow: column;
		width: 100%;
		height: 100%;
	}
	.work-img, .work-detail {
		width: 100%;
	}
	.work-img {
		height: 60vh;
	}
	.work-detail {
		width: 90%;
		margin: 0 auto;
	}
	/*.modal-close {
		height: 70px;
		width: 70px;
		border-radius: 50% 
		//margin: -50% auto;
	}*/
}