.portfolio {
	padding-top: 3rem;
	padding-bottom: 7rem;
}

a.isotope {
	font-family: 'arialn';
	color: gray;
	padding: .7rem;
	cursor: pointer;
}

a.isotope:hover {
	text-decoration: underline;
}

a.is-checked, a.is-checked:hover{
	background-color: $accent-color;
	color: $primary-color-text;
	border-radius: 15px;
}

.grid {
    width: 100%;
}

.element-item {
	width: 24%;
	//height: 220px;
	margin: 1px;
	padding: 0;	
}

.element-item > img {
	position: absolute;
	width: 100%;
	height: 100%;
}

/*.element-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}*/

.element-info {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	color: white;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	transition: 1s ease all;
	@extend %flex;
	@extend %flex-center;
	@extend %flex-column;
}
.element-item:hover .element-info {
	opacity: 1;
}
.element-info h4 {
	margin: 0;
	color: $white;
}