.service-wrapper {
	margin-top: -91px;
}
.service {
	width: 100%;
	height: 110vh;
	background: {
		repeat: no-repeat;
		attachment: fixed;
		size: 100% 100%;
	}
}

.service-wrapper .service:nth-child(1) {
	background-image: url('../img/cuadro.jpg');
}
.service-wrapper .service:nth-child(2) {
	background-image: url('../img/cuadro0.png');
}
.service-wrapper .service:nth-child(3) {
	background-image: url('../img/cuadro1.jpg');
}
.service-wrapper .service:nth-child(4) {
	background-image: url('../img/cuadro2.jpg');
}

.services-container {
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,.5);
	@extend %flex;
	@extend %flex-center;
	h3 {
		//position: fixed;
		color: $white;
	}
}