.service-banner {
    height: 350px;
    margin-top: -91px;
    background: {
        image: url('../img/banner-design.png');
        attachment: fixed;
        repeat: no-repeat;
        size: 150%;
        //position-y: 0;

    }
    @extend %flex;
    @extend %flex-end;
}

h2.service-title{
    color: #fafafa;
    width: 70%;
    margin: 0 auto;
    font-size: 2.2em;
    padding-bottom: 1rem;
}
.services {
    width: 70%;
    margin: 5rem auto;
    @extend %flex;
    @extend %flex-row;
    justify-content: space-between;
}

.service-container {
    width: 30%;
    margin-bottom: 2rem;
}

.service-img {
    margin-bottom: 1rem;
}
/*.service-container {
    overflow: hidden;
    padding: 7rem 0;
}

.img-service, .description-service {
    width: 50%;
}

.description-service {
    flex-direction: column;
	@extend %flex;
    @extend %flex-center;
    //justify-content: center;
    //align-items: center;
}*/
/*.services .service-container:nth-child(odd) .description-service {
    padding-left: 4rem;
}

.services .service-container:nth-child(even) .description-service {
    padding-left: 6rem;
}*/
/***********************************************************************/
/*.services .service-container:nth-child(even) .description-service {
    order: 0;
}*/

/*.services .service-container:nth-child(even) .img-service {
    position: relative;
    top: 0;
    right: -100px;
    transition: 1s ease all;
    order: 1;
}
.services .service-container:nth-child(odd) .img-service {
    position: relative;
    top: 0;
    left: -100px;
    transition: 1s ease all;
    //order: 0;
}

.services .service-container:nth-child(odd):hover .img-service {
    left: -20px;
}
.services .service-container:nth-child(even):hover .img-service {
    right: -20px;
}*/
/**********************************************************************/
/*.description-service h3, .description-service p {
    //margin: 0 auto;
    width: 80%;
}

.title-service {
    font-size: 2.2em;
    //padding-bottom: 4px;
    //border-bottom: 1px solid #111;
    font-weight: normal;
    //margin-top: 3.5rem;
}
.description-service p {
    text-align: justify;
    line-height: 1.8;
    margin-top: 2rem;
    font-size: 1.1em;
}*/

@media screen and (max-width: 420px) {
    .service-container {
        width: 100%;
    }   
}