.service-wrapper {
	margin-top: -91px;
}
.service {
	width: 100%;
	height: 110vh;
	font-size: 2em;
	background: {
		repeat: no-repeat;
		attachment: fixed;
		size: 100%;
	}

	h3 {
		border: 2px solid white;
		border-left: 0;
		border-right: 0; 
		padding: .5em; 
	}
}

.service-wrapper .service:nth-child(1) {
	background-image: url('../img/wide/design.jpg');
}
.service-wrapper .service:nth-child(2) {
	background-image: url('../img/wide/development.jpg');
}
.service-wrapper .service:nth-child(3) {
	background-image: url('../img/wide/marketing.jpg');
}
.service-wrapper .service:nth-child(4) {
	background-image: url('../img/wide/architect.jpg');
}

.services-container {
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,.5);
	@extend %flex;
	@extend %flex-center;
	h3 {
		//position: fixed;
		color: $white;
	}
}

@media screen and (max-width: 420px) {
	.service {
		height: 50vh;

		background: {
			size: 100% 100%;
		}
	}
}