.work {
	width: 80%;
	margin: 0 auto;
	margin-top: 6rem;
	flex-wrap: wrap;
	//justify-content: space-between;
	@extend %flex;
}

.work-carousel, .work-description {
	width: 40%;
}

.work-carousel {
	position: fixed;
	height: 100vh;
	background-color: $white;
	/*@extend %flex;
	@extend %flex-center_vertical;*/
	//background-image: url('../img/cuadro2.jpg');
}
.work-description {
	//background-color: #fafafa;
	position: relative;
	top: 0;
	left: 60%;
	#{&}-container {
		width: 80%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 420px) {
	.work-carousel, .work-description {
		width: 100%;
	}
	.work-carousel {
		position: relative;
		height: auto;
	}
	.work-description {
		left: 0;
	}
}
//BEM - SASS
/*.block{
	#{&}-element{

	}
	#{&}_modifier{

	}
}*/