.work {
	width: 70%;
	margin: 0 auto;
	margin-top: 4rem;
	flex-wrap: wrap;
	@extend %flex;
	@extend %flex-center_horizontal;
	//justify-content: space-between;
	//@extend %flex;
}

.work-title, .work-tags, .work-carousel, .description {
	width: 80%
}

.description {
	font-size: 1.25em;
	margin-bottom: 5rem; 
}
/*.work-carousel, .work-description {
	width: 40%;
}

.work-carousel {
	position: fixed;
	height: 100vh;
	background-color: $white;
	//background-image: url('../img/cuadro2.jpg');
}
.work-description {
	//background-color: #fafafa;
	position: relative;
	top: 0;
	left: 60%;
	#{&}-container {
		width: 80%;
		margin: 0 auto;
	}
}*/


@media screen and (max-width: 420px) {
	/*.work-carousel, .work-description {
		width: 100%;
	}
	.work-carousel {
		position: relative;
		height: auto;
	}
	.work-description {
		left: 0;
	}*/
}
//BEM - SASS
/*.block{
	#{&}-element{

	}
	#{&}_modifier{

	}
}*/