<header class="header">
    <div class="header-container">
        <a class="logo-link" href="/">
            <img class="logo" src="res/img/logoFull.png" alt="logo header"></img>
            <img class="logo-mobile" src="res/img/icon.png" alt="logo header mobile"></img>
        </a>
        <div class="menu-wrapper">
            <div class="hamburger"></div>
        </div>
        <nav class="navbar">
            <a class="link" ui-sref="/" ui-sref-active="active">Inicio</a>
            <a class="link" ui-sref="servicios" ui-sref-active="active">Servicios</a>
            <a class="link" ui-sref="portafolio" ui-sref-active="active">Portafolio</a>
            <a class="link" ui-sref="contacto" ui-sref-active="active">Contacto</a>
            <i class="fa fa-globe nav-link" aria-hidden="true"></i>
        </nav>
    </div>
</header>