

<div class="banner row row-full-screen">
    <div class="row-content row-content_medium row-elements_between flex-center">
        <img src="res/img/logo.png" alt="logo">
        <h1>MAKE...<br> <span class="typing"></span></h1>
    </div>
</div>
<div class="row">
    <div class="about row-content row-content_medium row-content_column row-content-center_vertical">
        
        <div class="logo-red-ball"></div>
        <hr>
        <p class="info-text text-center">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
			sed diam nonummy nibh euismod tincidunt ut laoreet dolore
			magna aliquam erat volutpat.
        </p>
        
    </div>
</div>

<div class="wedo">
    <figure class="wedo-fig">
        <img class="wedo-fig_img" src="res/img/Captura.jpg" alt="Design">
        <figcaption class="wedo-fig_cap">
            <a href="" ui-sref="services({'#': 'design'})">Design</a>
        </figcaption>
    </figure>
    <figure class="wedo-fig">
        <img class="wedo-fig_img" src="res/img/Captura.jpg" alt="Development">
        <figcaption class="wedo-fig_cap">
            <a href="" ui-sref="services({'#': 'development'})">Development</a>
        </figcaption>
    </figure>
    <figure class="wedo-fig">
        <img class="wedo-fig_img" src="res/img/Captura.jpg" alt="Marketing">
        <figcaption class="wedo-fig_cap">
            <a href="" ui-sref="services({'#': 'marketing'})">Marketing</a>
        </figcaption>
    </figure>
    <figure class="wedo-fig">
        <img class="wedo-fig_img" src="res/img/Captura.jpg" alt="Architecture">
        <figcaption class="wedo-fig_cap">
            <a href="#architecture" ui-sref="services({'#': 'architecture'})">Architecture</a>
        </figcaption>
    </figure>
</div>
 
<script src="res/js/typed.min.js"></script>
<script>
  $(function(){
    $(".typing").typed({
      strings: ["things happen", "success funniests", "consectetuer adipiscing elit", "consectetuer adipiscing elit", "consectetuer adipiscing elit"],
      typeSpeed: 15,
      loop: true
    });
  });
</script>        
    	
        
        <!--<div class="row">-->
        <!--    <div class="columna row-content row-content_medium row-content-column row-content-center_vertical">-->
        <!--        <div class="element"></div>-->
        <!--        <div class="element"></div>-->
        <!--        <div class="element"></div>-->
        <!--    </div>-->
        <!--</div>-->
        
