<div class="modal-flex-wrapper flex-center">
	
    
	<div class="moda-contento"> 
		<ul class="bxslider">
			<li data-ng-repeat="portImg in $ctrl.modalwork"><img class="portImg" src="{{ portImg.img }}" alt="familias unidas"></li>
		</ul>
	<!-- ui-view="work"
		
		<portfolio-work></portfolio-work>
		<div class="work-img"></div>
		
		<div class="modal-close"> X </div>
		
		<div class="work-detail">
			<div class="work-detail-container">
				<h3>TITLE</h3>
				<div>
					<a href="">UI/UX</a>
					<a href="">SEO/SEM</a>
					<a href="">Responsive</a>
					<a href="">Mobile</a>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quaerat distinctio ipsam, itaque laboriosam iure voluptate minus neque ea, quia officia nobis harum, voluptas ut qui quisquam, vitae esse sequi.</p>
			</div>
		</div> -->

	</div>
</div>

<script>
	
	$(document).ready(function(){
	  $('.bxslider').bxSlider();
	});
</script>
