<div class="row">
    <div class="portfolio row-content row-content_medium row-content_column row-content-center_vertical">
        <h2 class="text-center mont"> PORTAFOLIO DE TRABAJOS </h2>
		
		<div id="filters" class="button-group flex flex--row flex--center__horizontal">  
          <a herf="" class="isotope is-checked" data-filter="*">Todos</a>
          <a herf="" class="isotope" data-filter=".web">Web</a>
          <a herf="" class="isotope" data-filter=".sistema">Sistemas</a>
          <a herf="" class="isotope" data-filter=".design">Diseño</a>
          <a herf="" class="isotope" data-filter=".branding">Branding</a>
        </div>
        <br>
        <div class="grid">
			<!--<figure class="element-item" data-ng-repeat="work in $ctrl.works">
			  <img src="res/img/Captura.jpg" alt="img-porfolio">
			  <figcaption class="element-info">
			  	<h4><a data-ui-sref="work">Work title</a></h4>
			  </figcaption>
			</figure>-->
			<figure class="element-item branding">
			  <img src="res/img/portfolio/diseno/logos/familiasunidas/logofu.png" alt="img-porfolio">
			  <a data-ui-sref="trabajo({work: 'campana-contra-la-esci'})" class="element-info">
			  	<p>Campaña contra la ESCI</p>
			  </a>
			</figure>
			<figure class="modal-project element-item design">
			  <img src="res/img/portfolio/diseno/logos/mundo/Portada.png" alt="img-porfolio">
			  <figcaption href="" class="element-info" data-ui-sref="portafolio.modalwork({modalwork: 'mundo'})">
			  	<p>Mundo Ret a Car</p>
			  </figcaption>
			</figure>
			<figure class="modal-project element-item design">
			  <img src="res/img/portfolio/diseno/logos/biketown/biketown.jpg" alt="img-porfolio">
			  <figcaption class="element-info" data-ui-sref="portafolio.modalwork({modalwork: 'biketown'})">
			  	<p>Biketown</p>
			  </figcaption>
			</figure>
			<figure class="modal-project element-item design">
			  <img src="res/img/portfolio/diseno/logos/maracuya/maracuya-logo.jpg" alt="img-porfolio">
			  <figcaption class="element-info" data-ui-sref="portafolio.modalwork({modalwork: 'maracuya'})">
			  	<p>Maracuyá</p>
			  </figcaption>
			</figure>
			<figure class="modal-project element-item design">
			  <img src="res/img/portfolio/diseno/logos/bringconsulting/bring-consulting-logo.jpg" alt="img-porfolio">
			  <figcaption class="element-info" data-ui-sref="portafolio.modalwork({modalwork: 'bringconsulting'})">
			  	<p>Bring Consulting</p>
			  </figcaption>
			</figure>
			<figure class="modal-project element-item design">
			  <img src="res/img/portfolio/diseno/logos/realstate/realstate.jpg" alt="img-porfolio">
			  <figcaption class="element-info" data-ui-sref="portafolio.modalwork({modalwork: 'realstate'})">
			  	<p>Real State</p>
			  </figcaption>
			</figure>
			<figure class="modal-project element-item design">
			  <img src="res/img/portfolio/diseno/logos/unan/unan.jpg" alt="img-porfolio">
			  <figcaption class="element-info" data-ui-sref="portafolio.modalwork({modalwork: 'unan'})">
			  	<p>UNAN</p>
			  </figcaption>
			</figure>
			<figure class="modal-project element-item branding">
			  <img src="res/img/portfolio/diseno/logos/youralsguide/Portada-01.png" alt="img-porfolio">
			  <figcaption class="element-info" data-ui-sref="portafolio.modalwork({modalwork: 'your-als-guide'})">
			  	<p>Your ALS Guide</p>
			  </figcaption>
			</figure>

			<figure class="modal-project element-item web">
				<img src="res/img/portfolio/web/farem.jpg" alt="img-portfolio">
				<figcaption class="element-info" data-ui-sref="portafolio.modalwork({modalwork: 'farem'})">
					<p>FAREM - Estelí</p>
				</figcaption>
			</figure>
			<figure class="modal-project element-item sistema">
				<img src="res/img/portfolio/sistema/isnaya/isnaya.jpg" alt="img-portfolio">
				<figcaption class="element-info" data-ui-sref="portafolio.modalwork({modalwork: 'isnaya'})">
					<p>Isnaya Print</p>
				</figcaption>
			</figure>
			<figure class="modal-project element-item sistema">
				<img src="res/img/portfolio/sistema/tafenic/Tafenic-Cover.jpg" alt="img-portfolio">
				<figcaption class="element-info" data-ui-sref="portafolio.modalwork({modalwork: 'tafenic'})">
					<p>TAFENIC.SA</p>
				</figcaption>
			</figure>
			<figure class="modal-project element-item branding">
				<img src="res/img/portfolio/diseno/branding/jaliskos/Portada.jpg" alt="img-portfolio">
				<figcaption class="element-info" data-ui-sref="portafolio.modalwork({modalwork: 'jaliskos'})">
					<p>Jalisko's</p>
				</figcaption>
			</figure>
	    </div>
    </div>
</div>
	
<div id="modal-container" class="modal-container modal-close-s" aria-hidden="true">
	<i class="fa fa-2x fa-close modal-close" aria-hidden="true" data-ng-click="$ctrl.back()"></i><!--onclick="history.back();"-->
	<ui-view></ui-view>    
</div>

<script src="res/js/isotope.js"></script>	

<script>
//setTimeout(function(){
	var elementItem = $('.element-item');
	var altoAncho = elementItem.width();
	elementItem.height(altoAncho);

	$('.grid').isotope({
	  // options
	  itemSelector: '.element-item'/*,
	  layoutMode: '',*/
	});	
//}, 3000)


	$('.modal-project').click(function(){
		$('#modal-container').fadeIn();
		//console.log($(this).index())
	});
	$('.modal-close').click(function(){
		$('#modal-container').fadeOut();
	});

	/*$('.modal-close-s').click(function(event){
		//event.preventDefault();
		event.stopPropagation();
		$('#modal-container').fadeOut();
	});*/

</script>