
<!--<script>
	$('.element-info').click(function(){
		$('#modal-container').fadeIn();
		//console.log($(this).index())
	});
	$('.modal-close').click(function(){
		$('#modal-container').fadeOut();
	});

</script>-->

<div class="row">
    <div class="portfolio row-content row-content_medium row-content_column row-content-center_vertical">
        <h2 class="text-center"> PORTAFOLIO DE TRABAJOS </h2>
		
		<div id="filters" class="button-group flex flex--row flex--center__horizontal">  
          <a herf="" class="isotope is-checked" data-filter="*">Todos</a>
          <a herf="" class="isotope" data-filter=".web">web</a>
          <a herf="" class="isotope" data-filter=".system">sistemas</a>
          <a herf="" class="isotope" data-filter=".design">diseño</a>
          <a herf="" class="isotope" data-filter=".mobile">branding</a>
        </div>
        <br>
        <div class="grid">
			<!--<figure class="element-item" data-ng-repeat="work in $ctrl.works">
			  <img class="lin" src="res/img/Captura.jpg" alt="img-porfolio">
			  <figcaption class="element-info">
			  	<h4><a data-ui-sref="work">Work title</a></h4>
			  </figcaption>
			</figure>-->
			<figure class="element-item design">
			  <img class="lin" src="res/img/portfolio/familiasunidas/logo.jpg" alt="img-porfolio">
			  <figcaption class="element-info">
			  	<a data-ui-sref="work({work: 'fu'})">FAMILIAS UNIDAS</a>
			  </figcaption>
			</figure>
	    </div>
    </div>
</div>

<!--<div id="modal-container" class="modal-container">
    <div class="modal-flex-wrapper flex-center">
		<div class="moda-contento"> <!-- ui-view="work"
			
			<!--<portfolio-work></portfolio-work>
			<div class="work-img"></div>
			
			<div class="modal-close"> X </div>
			
			<div class="work-detail">
				<div class="work-detail-container">
					<h3>TITLE</h3>
					<div>
						<a href="">UI/UX</a>
						<a href="">SEO/SEM</a>
						<a href="">Responsive</a>
						<a href="">Mobile</a>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quaerat distinctio ipsam, itaque laboriosam iure voluptate minus neque ea, quia officia nobis harum, voluptas ut qui quisquam, vitae esse sequi.</p>
				</div>
			</div>
		
		</div>
    </div>
</div>-->


<script src="res/js/isotope.pkgd.min.js"></script>
<script src="res/js/isotope.js"></script>	

<script>
//setTimeout(function(){
	
	var elementItem = $('.element-item');
	var altoAncho = elementItem.width();
	elementItem.height(altoAncho);
	$('.grid').isotope({
	  // options
	  itemSelector: '.element-item'/*,
	  layoutMode: '',*/
	});

//}, 3000)
	
</script>