<div class="row">
    <div class="portfolio row-content row-content_medium row-content_column row-content-center_vertical">
        <h2 class="text-center"> PORTAFOLIO DE TRABAJOS </h2>
		
		<div id="filters" class="button-group flex flex--row flex--center__horizontal">  
          <a herf="" class="isotope is-checked" data-filter="*">Todos</a>
          <a herf="" class="isotope" data-filter=".web">Web</a>
          <a herf="" class="isotope" data-filter=".system">Sistemas</a>
          <a herf="" class="isotope" data-filter=".design">Diseño</a>
          <a herf="" class="isotope" data-filter=".branding">Branding</a>
        </div>
        <br>
        <div class="grid">
			<!--<figure class="element-item" data-ng-repeat="work in $ctrl.works">
			  <img src="res/img/Captura.jpg" alt="img-porfolio">
			  <figcaption class="element-info">
			  	<h4><a data-ui-sref="work">Work title</a></h4>
			  </figcaption>
			</figure>-->
			<figure class="element-item branding">
			  <img src="res/img/portfolio/diseno/logos/familiasunidas/logo.jpg" alt="img-porfolio">
			  <a data-ui-sref="work({work: 'fu'})" class="element-info">
			  	<p>Familias Unidas</p>
			  </a>
			</figure>
			<figure class="modal-project element-item design">
			  <img src="res/img/portfolio/diseno/logos/gasmarket/gasmarket.png" alt="img-porfolio">
			  <figcaption class="element-info" data-ui-sref="portfolio.modalwork({modalwork: 'gasmarket'})">
			  	<p>Gasmarket</p>
			  </figcaption>
			</figure>
			<figure class="modal-project element-item design">
			  <img src="res/img/portfolio/diseno/logos/biketown/biketown.jpg" alt="img-porfolio">
			  <figcaption class="element-info" data-ui-sref="portfolio.modalwork({modalwork: 'biketown'})">
			  	<p>Biketown</p>
			  </figcaption>
			</figure>
	    </div>
    </div>
</div>
	
<div id="modal-container" class="modal-container">
	<i class="fa fa-close fa-2 modal-close" aria-hidden="true" data-ng-click="$ctrl.back()"></i><!--onclick="history.back();"-->
	<ui-view></ui-view>    
</div>

<script src="res/js/isotope.js"></script>	

<script>
//setTimeout(function(){
	var elementItem = $('.element-item');
	var altoAncho = elementItem.width();
	elementItem.height(altoAncho);

	$('.grid').isotope({
	  // options
	  itemSelector: '.element-item'/*,
	  layoutMode: '',*/
	});	
//}, 3000)


	$('.modal-project').click(function(){
		$('#modal-container').fadeIn();
		//console.log($(this).index())
	});
	$('.modal-close').click(function(){
		$('#modal-container').fadeOut();
	});

</script>