<div id="parallax-banner" class="service-banner" style="background-image: url('{{ $ctrl.service[0].bgi }}')">
	<h2 class="service-title">{{ $parent.serviceTitle }}</h2>
</div>
<div class="services">
	
	<figure class="service-container"  data-ng-repeat="servicio in $ctrl.service">
		<img class="service-img" src="{{ servicio.img }}" alt="{{ servicio.alt }}">
		<figcaption class="service-caption">
			<h3 class="service-title text-center">{{ servicio.title }}</h3>
			<p class="paragraph">{{ servicio.description }}</p>
		</figcaption>
	</figure>

</div>
<script>
	$(window).scroll(function()	{
		$('#parallax-banner').css({"background-position-y": "-"+$(this).scrollTop()*1.3+"px"});
	});
</script>