<div class="service-wrapper">
	<div class="service">
		<a ui-sref="service({service: 'design'})" class="services-container">
			<h3>DISEÑO</h3>
		</a>
	</div>
	<div class="service">
		<a ui-sref="service({service: 'development'})" class="services-container">
			<h3>DESARROLLO</h3>
		</a>
	</div>
	<div class="hello service">
		<a ui-sref="service({service: 'marketing'})" class="services-container">
			<h3>MARKETING</h3>
		</a>
	</div>
	<div class="service">
		<a ui-sref="service({service: 'architecture'})" class="services-container">
			<h3>ARQUITECTURA</h3>
		</a>
	</div>
</div>
<!--

<script src="res/js/jquery.nicescroll.min.js"></script>
<script>
$(document).ready(function() { 
	$vph = $('.hello').height();
	scroll($vph);
});
function scroll ($vph) {
    $("html").niceScroll({
    	smoothscroll: true,
    	mousescrollstep: 100,
    	scrollspeed: 400,
    	touchbehavior:true,
    	cursorcolor:"#FF00FF",
    	cursoropacitymax:0.6,
    	cursorwidth:24,
    	usetransition:true,
    	hwacceleration:true,
    	autohidemode:"hidden"
    });
}
</script>
 <script>
	var alto = $(window).height();
	console.log($(window));
	$(window).scroll(function(){
		//setTimeout(function(){
			//document.querySelector('.hello').scrollIntoView({ 
			//  behavior: 'smooth' 
			//});
		//},3000);
		//console.log($(this).scroll());
		//console.log($(window).scrollY());
		$('html, body').animate({
				scrollTop: '+='+alto
		}, 2000);
	});
</script> -->