<div class="service-wrapper">
	<div class="service">
		<a ui-sref="service({service: 'design'})" class="services-container">
			<h3>DISEÑO</h3>
		</a>
	</div>
	<div class="service">
		<a ui-sref="service({service: 'development'})" class="services-container">
			<h3>DESARROLLO</h3>
		</a>
	</div>
	<div class="hello service">
		<a ui-sref="service({service: 'marketing'})" class="services-container">
			<h3>MARKETING</h3>
		</a>
	</div>
	<div class="service">
		<a ui-sref="service({service: 'architecture'})" class="services-container">
			<h3>ARQUITECTURA</h3>
		</a>
	</div>
</div>