
<div id="parallax-banner" class="service-banner">
	<h2 class="service-title">Diseño</h2>
</div>
<div class="services">
	
	<figure class="service-container"  data-ng-repeat="servicio in $ctrl.service">
		<img class="service-img" src="{{ servicio.img }}" alt="">
		<figcaption class="service-caption">
			<h3 class="service-title text-center">{{ servicio.title }}</h3>
			<p class="paragraph">{{ servicio.description }}</p>
		</figcaption>
	</figure>

</div>
<script>
	$(window).scroll(function()	{
		$('#parallax-banner').css({"background-position-y": "-"+$(this).scrollTop()*2+"px"});
	});
</script>