<div class="work">

	<h1 class="work-title">{{ $ctrl.work.titulo }}</h1>
	<ul class="work-tags">
		<a href="" data-ng-repeat="workTag in $ctrl.work.tags"> {{ workTag }} </a>
	</ul>

	<div class="work-carousel">
		<ul class="bxslider">
			<li data-ng-repeat="workImg in $ctrl.work.imgs track by $index"><img src="{{ workImg }}" alt="familias unidas"></li>
		</ul>
	</div>
	<p data-ng-repeat="description in $ctrl.work.descripcion" class="description">	{{ description }} </p>
	<!-- <div class="work-description">
		<div class="work-description-container">
			<h1>{{ $ctrl.work.titulo }}</h1>
			<ul>
				<a href="" data-ng-repeat="workTag in $ctrl.work.tags"> {{ workTag }} </a>
			</ul>
			<p>	{{ $ctrl.work.descripcion }} </p>
		</div>
	</div> -->

</div>

<script>
	$(document).ready(function(){
	  $('.bxslider').bxSlider();
	});
</script>