<div class="work">
	<div class="work-carousel">
		<ul class="bxslider">
			<li data-ng-repeat="workImg in $ctrl.work.imgs track by $index"><img src="{{ workImg }}" alt="familias unidas"></li>
			<!--<li><img src="res/img/Captura.jpg" /></li>
			<li><img src="res/img/Captura.jpg" /></li>
			<li><img src="res/img/Captura.jpg" /></li>
			<li><img src="res/img/Captura.jpg" /></li>-->
		</ul>
	</div>
	<div class="work-description">
		<div class="work-description-container">
			<h1>{{ $ctrl.work.titulo }}</h1>
			<ul>
				<a href="" data-ng-repeat="workTag in $ctrl.work.tags"> {{ workTag }} </a>
				<!--<a href="">UI/UX</a>
				<a href="">Diseño Web</a>
				<a href="">E-commerce</a>
				<a href="">Branding</a>-->
			</ul>
			<p>
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat explicabo, animi soluta veniam aspernatur ut iusto incidunt hic quas sequi dolores neque quis, sit odit minima modi nemo atque quidem.</span>
				<span>Hic quasi quisquam totam quibusdam fugit, nemo quaerat, dolore vitae delectus provident porro cum non iure voluptate! Repudiandae, magni! Reprehenderit ducimus perferendis quas ipsam aut minima possimus delectus quis vitae.</span>
				<span>Nihil fugit quam alias, suscipit hic iusto velit sunt voluptatibus autem non officia error molestiae nisi quo eaque nemo unde vel cum, vero quas ratione optio! Accusantium reprehenderit, amet veniam!</span>
				<span>In nemo praesentium, doloribus hic officia nisi nulla fugit perspiciatis, dicta deserunt explicabo, harum laboriosam quos tempora error eligendi non, similique obcaecati natus corrupti beatae reprehenderit nam. Optio, corporis enim.</span>
				<span>Totam provident culpa assumenda vero ab officia sit molestiae pariatur, ipsa dicta minus ratione repudiandae veniam similique, magnam ipsum soluta voluptatum. Quae provident, dolore pariatur. Dicta vel rem explicabo ullam?</span>
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, saepe nobis itaque aliquam nam quam velit? Ad vero impedit dignissimos, praesentium soluta nihil veniam pariatur quaerat rerum. Aut, odio, culpa!</span>
				<span>Eos deleniti alias neque soluta explicabo esse facilis dolorem maxime repellendus, voluptatum quas beatae architecto, dolores, debitis sapiente pariatur iusto quis recusandae, itaque quasi quibusdam reprehenderit. Neque quae, quibusdam libero!</span>
				<span>Nobis assumenda fuga, minima nihil illo necessitatibus optio qui fugit consequuntur cupiditate. Voluptatum maxime repudiandae ex excepturi dicta recusandae accusantium necessitatibus nam eum. Illo quas ea laborum asperiores beatae magnam!</span>
				<span>Esse quos error consequatur porro obcaecati nemo nulla fugiat minima facere atque culpa veritatis ullam ipsa, qui officia sunt et, at cupiditate, quisquam! Ab facilis sint sunt, esse sit odit!</span>
				<span>Facere, alias, eveniet velit numquam cum ea possimus fuga similique sunt laborum tempora! Facere ea tempora dolorem modi, odit non placeat voluptates unde cupiditate earum cumque, aut praesentium itaque architecto?</span>
				<span>Eligendi dolores, impedit odit a reprehenderit, est, consectetur ut illo blanditiis provident similique quaerat harum quasi nobis obcaecati accusamus nesciunt soluta aliquam at illum asperiores dignissimos doloribus laborum. Voluptas, veniam.</span>
				<span>Dolorem iste repellendus modi nulla facilis nobis consectetur? Dicta quasi, explicabo quia aliquid minus, exercitationem totam numquam, dolore eius perspiciatis amet labore placeat quam provident assumenda eveniet voluptates! Voluptatum, perferendis?</span>
				<span>Odio doloribus magnam ducimus aspernatur impedit, voluptatem, corporis, vitae numquam cupiditate veniam dolores. Non ex ea placeat molestiae. Tenetur nemo ipsa voluptatum reprehenderit eos nesciunt eligendi porro asperiores, at ducimus!</span>
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis laboriosam cumque corporis magnam cupiditate accusantium dolorem aspernatur animi porro ad fugiat sapiente, voluptatibus perferendis atque tempore rerum, ipsam exercitationem quos.</span>
				<span>Quae placeat ducimus, harum deserunt quis doloremque ratione soluta ipsum minus sit, et vero doloribus ab necessitatibus quia iste assumenda cum nihil! Similique, vero dolor. Rem est, labore beatae non!</span>
				<span>Nobis qui similique inventore voluptatibus commodi voluptas quia? Asperiores, molestiae maxime, repellendus ea tempore voluptatem distinctio minus cupiditate ab veritatis. Sed a fugit impedit modi error reiciendis voluptate rem quis.</span>
				<span>Ad architecto tenetur id laudantium nostrum dicta aliquid, quis delectus, incidunt obcaecati quia facilis minima, doloremque vitae rerum omnis nesciunt corrupti ea asperiores error amet itaque vel. Nobis assumenda, esse.</span>
				<span>Pariatur sed illum id facilis maiores natus maxime nulla hic laboriosam commodi ipsum in, nobis provident quam. Et quibusdam ea nemo ad, enim voluptatem commodi sequi omnis. Omnis, at. Dignissimos.</span>
				<span>Quas obcaecati officiis repellendus saepe illo, esse quae inventore fuga deserunt nobis architecto, minima laudantium dignissimos eius. Sapiente quia, reprehenderit vero explicabo placeat a neque excepturi aspernatur, quisquam adipisci itaque.</span>
				<span>Fugiat voluptatum, natus dolore molestiae dignissimos veritatis enim nulla, repellat odio quasi ad nemo pariatur assumenda quas, praesentium animi optio consequuntur aliquam modi vero totam. Dicta recusandae facere, porro odio.</span>
				<span>Incidunt harum eum tempora cumque, architecto placeat iure sint aspernatur nostrum quasi iusto earum, laudantium doloremque praesentium. Asperiores dolorem ex rerum quis cumque consequatur, ut odio impedit nulla dolore quo!</span>
				<span>Aspernatur repudiandae, blanditiis, magnam id aperiam odio maxime iste natus voluptatibus facilis eligendi earum vel! Ullam, vel! Omnis aut nobis laborum tenetur quos voluptatibus molestias, dolore, minus illum iure magnam!</span>
				<span>Eveniet repudiandae, omnis aspernatur quae eos facere itaque odit nam quod porro eaque molestiae exercitationem earum distinctio quasi id adipisci odio voluptate. Numquam maxime provident molestiae labore debitis assumenda et!</span>
			</p>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
	  $('.bxslider').bxSlider();
	});
</script>